<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:project_photos, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:project_photos, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:project_photos, :edit, :id => @project_photo.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :project_photo, url(:project_photos, :update, :id => @project_photo.id), :method => :put, :class => 'form-horizontal', :multipart => true do |f| %>
    <%= partial 'project_photos/form', :locals => { :f => f } %>
  <% end %>
</div>
