<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:project_photos, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:project_photos, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :project_photo, url(:project_photos, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'project_photos/form', :locals => { :f => f } %>
 <% end %>
</div>
