<h1>Contact <small>(me)</small></h1>

<form data-abide class="centered">
  <div class="row">
    <div class="large-12 columns">
      <div class="small-9 columns">
        <label>From:
          <input type="text" id="from" placeholder="Your name" required>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="small-9 columns">
        <label>Email:
          <input type="email" id="email" placeholder="Your email" required>
        </label>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="large-12 columns">
      <div class="small-9 columns">
      <label>Your message:
        <textarea placeholder="..."></textarea>
      </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-9 columns">
      <button type="submit">Send</button>
    </div>
  </div>
</form>
