<h1>Contact <small>(me)</small></h1>

<% form_tag '/contactme', :class => 'centered', :method => 'post', 'data-abide' => '' do %>
  <div class="row">
    <div class="large-12 columns">
      <div class="small-9 columns">
        <label>From:
          <%= text_field_tag :from, :maxlength => 40, :placeholder => "Your name", :required => true %>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="small-9 columns">
        <label>Email:
          <%= text_field_tag :email, :maxlength => 100, :placeholder => "Your email", :required => true %>
        </label>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="large-12 columns">
      <div class="small-9 columns">
      <label>Your message:
        <%= text_area_tag :message, :placeholder => "..." %>
      </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-9 columns">
      <button type="submit">Send</button>
    </div>
  </div>
<% end %>
