<h1>Silvia Selles <small>(<%= t('me') %>)</small></h1>

<div class="row">
  <div class="small-12 large-12 columns">
    <p> <%= t('intro.before') %> </p>
  </div>

  <%= image_tag 'portada.jpg', { :height => "340", :weight => "480", :class => "imgcentered" } %>

  <div class="small-12 large-12 columns">
    <p> <%= t('intro.after') %> </p>

  </div>
</div>

