<!DOCTYPE html>
<html>
<head>
  <title>Silvia Selles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page" class="site">
  <div id="header" class="page-header"> Silvia Selles</div>
  <div id="main">
    <div id="secondary" class="widgets">
      <ul>
        <li><a class="btn2" href="#">Foo</a></li>
        <li><a class="btn2" href="#">Bar</a></li>
        <li><a class="btn2" href="#">FooBar</a></li>
      </ul>
    </div>
    <div id="primary"   class="content">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
